<!DOCTYPE html>
<html>
  <head>
  <h1>Helpful Study Tips</h1>
  </head>
  
  <body>
    
  <h4>If Your Have Trouble Concentrating</h4>
  We get it. 
  With everything going on around you, it's tempting to check your Snapchat or just watch one Netflix episode.
  <ul>Here's some helpful ideas to improve your concentration:
  <br><br>
   <li>Relax your brain. Taking deep breaths before starting difficult tasks always helps.</li>
  <li>Make a designated work space in an area that it free of distractions (ex. dog,phone,television). Don't be afraid to customize this space!</li>
  <li>Turn off ALL electronic devices and put them away. It's much easier to concentrate without the constant notifications.</li>
  <li>If you want to have some background music, go ahead. Just make sure you don't get caught up in your favorite song that you forget everything.</li>
  <li>Take some short breaks in between. Sometimes your brain can get overwhelmed, which results in giving up or procrastination.</li>
</ul>
  
  <br><br>
  <br><br>
  
  <h4>If You Have Procrastination Problems</h4>
  Sometimes, school can be pretty overwhelming. 
  With all of the projects, essays, tests, quizes, and not to mention homework EVERY SINGLE NIGHT, your just feel like pushing it all until the night of the due date (and sometimes, hours before).
  <ul>Here's how to prevent/decrease procrastination:
  <br><br>
  <li>The most important thing is to not punish yourself for procrastination. 
  That decreases self-confidence, which is obviously a very important trait to have to accomplish anything.</li>
  <li>Break down your tasks into small chunks. Big jobs become easier to tackle if you take small steps.</li>
  <li>Start with the hardest tasks. If you start easy, it becomes hard to complete harder things later in the day.</li>
  <li>Although this might sound silly, give yourself a talk. Hype yourself up to create confidence in completing tasks.</li>
  <li>Lastly, the most important of them all, reward yourself. Your brain will start to recognize rewards and will prevent uou from more procrastination.</li>
   </ul>
   
   <br><br>
   <br><br>
   
   <h4>How to Prevent Test/Quiz Anxiety</h4>
  Tests and quizes can cause lots of stress, especially if it means the difference of a higher or lower letter grade. With all of these high stakes, you could mess up on the obvious questions or forget all the information you studied seconds before you start.
  <ul>Here's some helpful tips to prevent/decrease test/quiz axiety:
  <br><br>
  <li>If you aren't studying for your tests or quizes, please study everything diligently. Go back to old tests/quizes, study guides, and homework. Most of the anxiety goes away if you come in prepared. NEVER cram the night before, this causes the feeling of being underprepared.</li>
  <li>Just before the test/quiz begins, take deep breaths. Imagine yourself in a calm place. This exercise calms your brain down.</li>
  <li>Get a good night's sleep the night before the test/quiz. It's important to feel energized and remember that all of the information sticks.</li>
   </ul>
  
  <br><br>
  <br><br>
  
  <h4>Here are some additional resources for more study tips and tricks:</h4>
  <a href="https://www.youtube.com/watch?v=p60rN9JEapg">study tips</a>
  <a href="https://www.youtube.com/watch?v=L_2JaFnkZ4o">focus/concentration</a> 
  <a href="https://www.youtube.com/watch?v=mLhwdITTrfE">how to study for exams</a>
  <a href="https://www.youtube.com/watch?v=t-9cqaRJMP4">test axiety</a>
  
  
  </body>
  
  
</html>






